# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code (Optional: if you're sharing launch configs, don't ignore this)
.vscode/

# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/

# iOS/macOS
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Pods/
macos/Pods/
macos/Flutter/Flutter.framework
macos/Flutter/Flutter.podspec

# Android
.android/
.gradle/
*.apk
*.aar

# Pubspec.lock — should be ignored in packages, but included in apps
/pubspec.lock
example/pubspec.lock  # Allow lockfile in example app

# Web
web/.dart_tool/
web/build/
